html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--grey-800);
}

app {
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) and (min-height: 500px) {
        display: flex;
    }
}

a {
    text-decoration: inherit;
}

button {
    padding: 0;
}

.link {
    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}

* {
    user-select: none;
}

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}

form {
    &.submitting {
        cursor: not-allowed;

        * {
            pointer-events: none;
        }
    }
}

.spinner {
    animation: spinner 600ms linear infinite;
}
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}
