@page "/maintenance";
@inherits MaintenanceBase;

<div class="block mx-auto w-full max-w-mobile radius-0.5 p-2 bg-danger-100 shadow-md border-1 border-solid border-danger-400">
    <p class="block line-normal font-danger-800 text-center">
		The application is currently undergoing maintenance. Please check back later.
	</p>
</div>
