@page "/network-offline";

<div class="block mx-auto w-full max-w-tablet radius-0.5 p-2 bg-danger-100 shadow-md border-1 border-solid border-danger-400">
    <p class="block line-normal font-danger-800 text-center mb-1.5">
		Your device does not have a network connection. Reconnect to the internet and try again.
	</p>
    <div class="block text-center">
        <a href="/" class="button -solid -primary -rounded">retry connection</a>
    </div>
</div>
