@inherits AppShellBase
@using Client.Models.Globals

@if (CanRender){
	<main class="app-shell">
		<aside class="app-aside">
			<nav>
				<NavLink href="/dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
				@if (CurrentUser.Admin){
					<NavLink href="/admin/users">Manage Users</NavLink>
				}
				<NavLink href="/logout">Logout</NavLink>
			</nav>
		</aside>
		<section class="app-body">
			@Body
		</section>
	</main>
}
