@layout AppShell
@page "/admin/dashboard"
@inherits AdminDashboard

<div class="w-full max-w-laptop mx-auto my-4 text-center">
    <button class="button -solid -primary -rounded mx-0.5" @onclick="ClearApplicationCache">Clear Application Cache</button>
	<button class="button -solid -primary -rounded mx-0.5" @onclick="ClearCloudflareCache">Clear Cloudflare Cache</button>
	<button class="button -solid -primary -rounded mx-0.5" @onclick="ToggleMaintenanceMode">@(IsUndergoingMaintenance ? "Disable" : "Enable") Maintenance Mode</button>
</div>
