@page "/verification/error"

<div class="block mx-auto w-full max-w-mobile radius-0.5 p-2 bg-white shadow-md border-1 border-solid border-grey-300">
    <h1 class="text-center line-normal mb-1 block font-medium font-grey-800">Something went wrong.</h1>
    <p class="block line-normal mb-1.5 font-grey-700 font-sm">Try to login again. If this issue continues please <a target="_blank" href="mailto:codingwithkyle@gmail.com" class="font-primary-700">contact support</a>.</p>
    <div class="block text-center">
        <a href="/" class="button -solid -primary -rounded">login</a>
    </div>
</div>
